@import 'reset.css';
@import 'adaptives.css';
/* мой "инопланетный" шрифт для колонны символов слева страницы - Mewerek */
  @font-face {
    font-family: 'Mewerek';
    src: url('artpraktika2/fonts/Mewerek.otf') format("otf"),
  }

/* все стили шрифта Qanelas */
  @font-face {
      font-family: 'Qanelas';
      src: url('/fontsQanelas-ThinItalic.eot');
      src: local('/fontsQanelas Thin Italic'), local('/fonts/Qanelas-ThinItalic'),
          url('/fontsQanelas-ThinItalic.eot?#iefix') format('embedded-opentype'),
          url('/fontsQanelas-ThinItalic.woff2') format('woff2'),
          url('/fontsQanelas-ThinItalic.woff') format('woff'),
          url('/fontsQanelas-ThinItalic.ttf') format('truetype');
      font-weight: 100;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fontsQanelas-SemiBoldItalic.eot');
      src: local('/fontsQanelas SemiBold Italic'), local('/fonts/Qanelas-SemiBoldItalic'),
          url('/fontsQanelas-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
          url('/fontsQanelas-SemiBoldItalic.woff2') format('woff2'),
          url('/fontsQanelas-SemiBoldItalic.woff') format('woff'),
          url('/fontsQanelas-SemiBoldItalic.ttf') format('truetype');
      font-weight: 600;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fontsQanelas-Bold.eot');
      src: local('/fontsQanelas Bold'), local('/fonts/Qanelas-Bold'),
          url('/fontsQanelas-Bold.eot?#iefix') format('embedded-opentype'),
          url('/fontsQanelas-Bold.woff2') format('woff2'),
          url('/fontsQanelas-Bold.woff') format('woff'),
          url('/fontsQanelas-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fontsQanelas-Regular.eot');
      src: local('/fontsQanelas Regular'), local('/fonts/Qanelas-Regular'),
          url('/fontsQanelas-Regular.eot?#iefix') format('embedded-opentype'),
          url('/fontsQanelas-Regular.woff2') format('woff2'),
          url('/fontsQanelas-Regular.woff') format('woff'),
          url('/fontsQanelas-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fontsQanelas-RegularItalic.eot');
      src: local('/fontsQanelas Regular Italic'), local('/fonts/Qanelas-RegularItalic'),
          url('/fontsQanelas-RegularItalic.eot?#iefix') format('embedded-opentype'),
          url('/fontsQanelas-RegularItalic.woff2') format('woff2'),
          url('/fontsQanelas-RegularItalic.woff') format('woff'),
          url('/fontsQanelas-RegularItalic.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fontsQanelas-HeavyItalic.eot');
      src: local('/fontsQanelas Heavy Italic'), local('/fonts/Qanelas-HeavyItalic'),
          url('/fontsQanelas-HeavyItalic.eot?#iefix') format('embedded-opentype'),
          url('/fontsQanelas-HeavyItalic.woff2') format('woff2'),
          url('/fontsQanelas-HeavyItalic.woff') format('woff'),
          url('/fontsQanelas-HeavyItalic.ttf') format('truetype');
      font-weight: 900;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fontsQanelas-Heavy.eot');
      src: local('/fontsQanelas Heavy'), local('/fonts/Qanelas-Heavy'),
          url('/fontsQanelas-Heavy.eot?#iefix') format('embedded-opentype'),
          url('/fontsQanelas-Heavy.woff2') format('woff2'),
          url('/fontsQanelas-Heavy.woff') format('woff'),
          url('/fontsQanelas-Heavy.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('Qanelas-Medium.eot');
      src: local('Qanelas Medium'), local('/fonts/Qanelas-Medium'),
          url('Qanelas-Medium.eot?#iefix') format('embedded-opentype'),
          url('Qanelas-Medium.woff2') format('woff2'),
          url('Qanelas-Medium.woff') format('woff'),
          url('Qanelas-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fontsQanelas-UltraLight.eot');
      src: local('/fontsQanelas UltraLight'), local('/fonts/Qanelas-UltraLight'),
          url('/fontsQanelas-UltraLight.eot?#iefix') format('embedded-opentype'),
          url('/fontsQanelas-UltraLight.woff2') format('woff2'),
          url('/fontsQanelas-UltraLight.woff') format('woff'),
          url('/fontsQanelas-UltraLight.ttf') format('truetype');
      font-weight: 200;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fonts/Qanelas-LightItalic.eot');
      src: local('/fonts/Qanelas Light Italic'), local('/fonts/Qanelas-LightItalic'),
          url('/fonts/Qanelas-LightItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Qanelas-LightItalic.woff2') format('woff2'),
          url('/fonts/Qanelas-LightItalic.woff') format('woff'),
          url('/fonts/Qanelas-LightItalic.ttf') format('truetype');
      font-weight: 300;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fonts/Qanelas-MediumItalic.eot');
      src: local('/fonts/Qanelas Medium Italic'), local('/fonts/Qanelas-MediumItalic'),
          url('/fonts/Qanelas-MediumItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Qanelas-MediumItalic.woff2') format('woff2'),
          url('/fonts/Qanelas-MediumItalic.woff') format('woff'),
          url('/fonts/Qanelas-MediumItalic.ttf') format('truetype');
      font-weight: 500;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fonts/Qanelas-Thin.eot');
      src: local('/fonts/Qanelas Thin'), local('/fonts/Qanelas-Thin'),
          url('/fonts/Qanelas-Thin.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Qanelas-Thin.woff2') format('woff2'),
          url('/fonts/Qanelas-Thin.woff') format('woff'),
          url('/fonts/Qanelas-Thin.ttf') format('truetype');
      font-weight: 100;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fonts/Qanelas-Black.eot');
      src: local('/fonts/Qanelas Black'), local('/fonts/Qanelas-Black'),
          url('/fonts/Qanelas-Black.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Qanelas-Black.woff2') format('woff2'),
          url('/fonts/Qanelas-Black.woff') format('woff'),
          url('/fonts/Qanelas-Black.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fonts/Qanelas-BoldItalic.eot');
      src: local('/fonts/Qanelas Bold Italic'), local('/fonts/Qanelas-BoldItalic'),
          url('/fonts/Qanelas-BoldItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Qanelas-BoldItalic.woff2') format('woff2'),
          url('/fonts/Qanelas-BoldItalic.woff') format('woff'),
          url('/fonts/Qanelas-BoldItalic.ttf') format('truetype');
      font-weight: bold;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fonts/Qanelas-UltraLightItalic.eot');
      src: local('/fonts/Qanelas UltraLight Italic'), local('/fonts/Qanelas-UltraLightItalic'),
          url('/fonts/Qanelas-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Qanelas-UltraLightItalic.woff2') format('woff2'),
          url('/fonts/Qanelas-UltraLightItalic.woff') format('woff'),
          url('/fonts/Qanelas-UltraLightItalic.ttf') format('truetype');
      font-weight: 200;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fonts/Qanelas-ExtraBoldItalic.eot');
      src: local('/fonts/Qanelas ExtraBold Italic'), local('/fonts/Qanelas-ExtraBoldItalic'),
          url('/fonts/Qanelas-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Qanelas-ExtraBoldItalic.woff2') format('woff2'),
          url('/fonts/Qanelas-ExtraBoldItalic.woff') format('woff'),
          url('/fonts/Qanelas-ExtraBoldItalic.ttf') format('truetype');
      font-weight: 800;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('Qanelas-Light.eot');
      src: local('/fonts/Qanelas Light'), local('/fonts/Qanelas-Light'),
          url('/fonts/Qanelas-Light.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Qanelas-Light.woff2') format('woff2'),
          url('/fonts/Qanelas-Light.woff') format('woff'),
          url('/fonts/Qanelas-Light.ttf') format('truetype');
      font-weight: 300;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fonts/Qanelas-ExtraBold.eot');
      src: local('/fonts/Qanelas ExtraBold'), local('/fonts/Qanelas-ExtraBold'),
          url('/fonts/Qanelas-ExtraBold.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Qanelas-ExtraBold.woff2') format('woff2'),
          url('/fonts/Qanelas-ExtraBold.woff') format('woff'),
          url('/fonts/Qanelas-ExtraBold.ttf') format('truetype');
      font-weight: 800;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fonts/Qanelas-BlackItalic.eot');
      src: local('/fonts/Qanelas Black Italic'), local('/fonts/Qanelas-BlackItalic'),
          url('/fonts/Qanelas-BlackItalic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Qanelas-BlackItalic.woff2') format('woff2'),
          url('/fonts/Qanelas-BlackItalic.woff') format('woff'),
          url('/fonts/Qanelas-BlackItalic.ttf') format('truetype');
      font-weight: 900;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('/fonts/Qanelas-SemiBold.eot');
      src: local('/fonts/Qanelas SemiBold'), local('/fonts/Qanelas-SemiBold'),
          url('/fonts/Qanelas-SemiBold.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Qanelas-SemiBold.woff2') format('woff2'),
          url('/fonts/Qanelas-SemiBold.woff') format('woff'),
          url('/fonts/Qanelas-SemiBold.ttf') format('truetype');
      font-weight: 600;
      font-style: normal;
  }
