@import 'reset.css';
@import 'adaptives.css';
/* мой "инопланетный" шрифт для колонны символов слева страницы - Mewerek */
  @font-face {
    font-family: 'Mewerek';
    src: url('../fonts/Mewerek.otf') format("otf"),
  }

/* все стили шрифта Qanelas */
  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-ThinItalic.eot');
      src: local('../fonts/font/Qanelas Thin Italic'), local('../fonts/font/Qanelas-ThinItalic'),
          url('../fonts/font/Qanelas-ThinItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-ThinItalic.woff2') format('woff2'),
          url('../fonts/font/Qanelas-ThinItalic.woff') format('woff'),
          url('../fonts/font/Qanelas-ThinItalic.ttf') format('truetype');
      font-weight: 100;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-SemiBoldItalic.eot');
      src: local('../fonts/font/Qanelas SemiBold Italic'), local('../fonts/font/Qanelas-SemiBoldItalic'),
          url('../fonts/font/Qanelas-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-SemiBoldItalic.woff2') format('woff2'),
          url('../fonts/font/Qanelas-SemiBoldItalic.woff') format('woff'),
          url('../fonts/font/Qanelas-SemiBoldItalic.ttf') format('truetype');
      font-weight: 600;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font//Qanelas-Bold.eot');
      src: local('../fonts/font//Qanelas Bold'), local('../fonts/font/Qanelas-Bold'),
          url('../fonts/font//Qanelas-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font//Qanelas-Bold.woff2') format('woff2'),
          url('../fonts/font//Qanelas-Bold.woff') format('woff'),
          url('../fonts/font//Qanelas-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-Regular.eot');
      src: local('../fonts/font/Qanelas Regular'), local('../fonts/font/font//Qanelas-Regular'),
          url('../fonts/font/Qanelas-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-Regular.woff2') format('woff2'),
          url('../fonts/font/Qanelas-Regular.woff') format('woff'),
          url('../fonts/font/Qanelas-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('..../fonts/font/Qanelas-RegularItalic.eot');
      src: local('../fonts/font/Qanelas Regular Italic'), local('../fonts/font/Qanelas-RegularItalic'),
          url('../fonts/font/Qanelas-RegularItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-RegularItalic.woff2') format('woff2'),
          url('../fonts/font/Qanelas-RegularItalic.woff') format('woff'),
          url('../fonts/font/Qanelas-RegularItalic.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-HeavyItalic.eot');
      src: local('../fonts/font/Qanelas Heavy Italic'), local('../fonts/font/Qanelas-HeavyItalic'),
          url('../fonts/font/Qanelas-HeavyItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-HeavyItalic.woff2') format('woff2'),
          url('../fonts/font/Qanelas-HeavyItalic.woff') format('woff'),
          url('../fonts/font/Qanelas-HeavyItalic.ttf') format('truetype');
      font-weight: 900;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-Heavy.eot');
      src: local('../fonts/font/Qanelas Heavy'), local('../fonts/font/Qanelas-Heavy'),
          url('../fonts/font/Qanelas-Heavy.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-Heavy.woff2') format('woff2'),
          url('../fonts/font/Qanelas-Heavy.woff') format('woff'),
          url('../fonts/font/Qanelas-Heavy.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-Medium.eot');
      src: local('../fonts/font/Qanelas Medium'), local('../fonts/font/Qanelas-Medium'),
          url('../fonts/font/Qanelas-Medium.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-Medium.woff2') format('woff2'),
          url('../fonts/font/Qanelas-Medium.woff') format('woff'),
          url('../fonts/font/Qanelas-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-UltraLight.eot');
      src: local('../fonts/font/Qanelas UltraLight'), local('../fonts/font/Qanelas-UltraLight'),
          url('../fonts/font/Qanelas-UltraLight.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-UltraLight.woff2') format('woff2'),
          url('../fonts/font/Qanelas-UltraLight.woff') format('woff'),
          url('../fonts/font/Qanelas-UltraLight.ttf') format('truetype');
      font-weight: 200;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-LightItalic.eot');
      src: local('../fonts/font/Qanelas Light Italic'), local('../fonts/font/Qanelas-LightItalic'),
          url('../fonts/font/Qanelas-LightItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-LightItalic.woff2') format('woff2'),
          url('../fonts/font/Qanelas-LightItalic.woff') format('woff'),
          url('../fonts/font/Qanelas-LightItalic.ttf') format('truetype');
      font-weight: 300;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-MediumItalic.eot');
      src: local('../fonts/font/Qanelas Medium Italic'), local('../fonts/font/Qanelas-MediumItalic'),
          url('../fonts/font/Qanelas-MediumItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-MediumItalic.woff2') format('woff2'),
          url('../fonts/font/Qanelas-MediumItalic.woff') format('woff'),
          url('../fonts/font/Qanelas-MediumItalic.ttf') format('truetype');
      font-weight: 500;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-Thin.eot');
      src: local('../fonts/font/Qanelas Thin'), local('../fonts/font/Qanelas-Thin'),
          url('../fonts/font/Qanelas-Thin.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-Thin.woff2') format('woff2'),
          url('../fonts/font/Qanelas-Thin.woff') format('woff'),
          url('../fonts/font/Qanelas-Thin.ttf') format('truetype');
      font-weight: 100;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-Black.eot');
      src: local('../fonts/font/Qanelas Black'), local('../fonts/font/Qanelas-Black'),
          url('../fonts/font/Qanelas-Black.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-Black.woff2') format('woff2'),
          url('../fonts/font/Qanelas-Black.woff') format('woff'),
          url('../fonts/font/Qanelas-Black.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-BoldItalic.eot');
      src: local('../fonts/font/Qanelas Bold Italic'), local('../fonts/font/Qanelas-BoldItalic'),
          url('../fonts/font/Qanelas-BoldItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-BoldItalic.woff2') format('woff2'),
          url('../fonts/font/Qanelas-BoldItalic.woff') format('woff'),
          url('../fonts/font/Qanelas-BoldItalic.ttf') format('truetype');
      font-weight: bold;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-UltraLightItalic.eot');
      src: local('../fonts/font/Qanelas UltraLight Italic'), local('../fonts/font/Qanelas-UltraLightItalic'),
          url('../fonts/font/Qanelas-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-UltraLightItalic.woff2') format('woff2'),
          url('../fonts/font/Qanelas-UltraLightItalic.woff') format('woff'),
          url('../fonts/font/Qanelas-UltraLightItalic.ttf') format('truetype');
      font-weight: 200;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-ExtraBoldItalic.eot');
      src: local('../fonts/font/Qanelas ExtraBold Italic'), local('../fonts/font/Qanelas-ExtraBoldItalic'),
          url('../fonts/font/Qanelas-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-ExtraBoldItalic.woff2') format('woff2'),
          url('../fonts/font/Qanelas-ExtraBoldItalic.woff') format('woff'),
          url('../fonts/font/Qanelas-ExtraBoldItalic.ttf') format('truetype');
      font-weight: 800;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('Qanelas-Light.eot');
      src: local('../fonts/font/Qanelas Light'), local('../fonts/font/Qanelas-Light'),
          url('../fonts/font/Qanelas-Light.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-Light.woff2') format('woff2'),
          url('../fonts/font/Qanelas-Light.woff') format('woff'),
          url('../fonts/font/Qanelas-Light.ttf') format('truetype');
      font-weight: 300;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-ExtraBold.eot');
      src: local('../fonts/font/Qanelas ExtraBold'), local('../fonts/font/Qanelas-ExtraBold'),
          url('../fonts/font/Qanelas-ExtraBold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-ExtraBold.woff2') format('woff2'),
          url('../fonts/font/Qanelas-ExtraBold.woff') format('woff'),
          url('../fonts/font/Qanelas-ExtraBold.ttf') format('truetype');
      font-weight: 800;
      font-style: normal;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-BlackItalic.eot');
      src: local('../fonts/font/Qanelas Black Italic'), local('../fonts/font/Qanelas-BlackItalic'),
          url('../fonts/font/Qanelas-BlackItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-BlackItalic.woff2') format('woff2'),
          url('../fonts/font/Qanelas-BlackItalic.woff') format('woff'),
          url('../fonts/font/Qanelas-BlackItalic.ttf') format('truetype');
      font-weight: 900;
      font-style: italic;
  }

  @font-face {
      font-family: 'Qanelas';
      src: url('../fonts/font/Qanelas-SemiBold.eot');
      src: local('../fonts/font/Qanelas SemiBold'), local('../fonts/font/Qanelas-SemiBold'),
          url('../fonts/font/Qanelas-SemiBold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/font/Qanelas-SemiBold.woff2') format('woff2'),
          url('../fonts/font/Qanelas-SemiBold.woff') format('woff'),
          url('../fonts/font/Qanelas-SemiBold.ttf') format('truetype');
      font-weight: 600;
      font-style: normal;
  }
